.special-offers {
    text-align: center;
    padding: 2rem 0;
    background: #f8f8f9;
}

h2 {
    font-size: 2rem;
    color: #0C1A1A;
}

.offers-slider {
    width: 90%;
    margin: auto;
}

.offer-card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.offer-card img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    border-radius: 10px;
}

.offer-card h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #455a64;
}

.old-price {
    text-decoration: line-through;
    color: #6e6e6e;
}

.new-price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #6ACFC7;
}

.new-price span {
    font-size: 1.2rem;
    color: #BAFF39;
    background: #0C1A1A;
    padding: 3px 8px;
    border-radius: 5px;
    margin-left: 5px;
}

.btn {
    margin-top: 10px;
    background: #6ACFC7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease;
}

.btn:hover {
    background: #0C1A1A;
}
